 /* Hauptseite CSS Nächste zeilen sind einfach nur Anpassungen an die Schrift und Abstände */ 
h1{
          margin-top: 200px;
          font-size: 2em;
          font-weight: 400;
		  line-height: 1.5;
		  text-transform: uppercase;
		  letter-spacing: 0.375rem;
	}
 h2{
        margin-top: 50px;
        text-align: center;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 0.375rem;
        font-size: 1.25em;
        color: #444444;
        margin-bottom: 100px
	}

p{
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 0.375rem;

	}

p2{
    margin-bottom: 200px;
}
      
      h1,p {
		color: #f8f8ff;
	}

/* Unnötiger Code der vielleicht noch gebraucht wird, sorry
.box{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    font-size: 30px ; 
    font-weight: 300; 
    letter-spacing: 0.0875rem;
    }
  */

    /* Stylized Button*/
.button{
        width: 100%;
        text-align: center;
		display: inline-block;
		line-height: 3.5em;
		text-transform: uppercase;
		letter-spacing: 0.325em;
		font-size: 0.725em;
}
    /* Stylized Button*/
	.button {
		box-shadow: 0 0 0 2px #666666;
                padding: 0 2em 0 2.375em;
		color: #444444 !important;
	}
/* Billige Hoveranimation*/
		.button:hover {
			color: #EF6480 !important;
			box-shadow: inset 0 0 0 2px #EF6480;
		}
/*Zurücksetzen */
		.button.icon:before {
			color: #999999;
		}





    /* Setze Bild Hintergrund*/
    header{
      background: url(img/banner.jpg);
      background-size: cover;
      background-position: center;
      min-height: 1000px;
	    
    /* Anpassung des Headers bei kleinen Geräten*/
 @media screen and (max-width: 670px){
      header{
        min-height: 500px;
      }
    }
        

