@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");


/* OUTDATED BITTE NICHT BEACHTEN */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		background: #f4f4f4;
	}

/* Type */

	body {
		background-color: #f4f4f4;
		color: #666666;
	}

	body, input, select, textarea {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 200;
		line-height: 1.65;
	}
		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.375rem;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}


	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	code {
		border-radius: 4px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #444444;
	}

	a {
		color: inherit;
	}

		a:hover {
			color: #EF6480 !important;
		}

	strong, b {
		color: #444444;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #444444;
	}
	hr {
		border-bottom-color: #666666;
	}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: #666666;
	}



/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	label {
		color: #444444;
	}

/* Bild */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* Item */

	.item {
		padding: 3em 3em 1em 3em;
		background-color: #ffffff;
		border-radius: 4px;
		text-align: center;
	}

		.item header {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			margin: -3em 0 3em -3em;
			width: calc(100% + 6em);
			height: 15em;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			background-color: #444;
			color: rgba(255, 255, 255, 0.75);
			position: relative;
			overflow: hidden;
		}

			.item header input, .item header select, .item header textarea {
				color: #ffffff;
			}

			.item header a {
				color: inherit;
			}

				.item header a:hover {
					color: #EF6480 !important;
				}

			.item header strong, .item header b {
				color: #ffffff;
			}

			.item header h1, .item header h2, .item header h3, .item header h4, .item header h5, .item header h6 {
				color: #ffffff;
			}

			.item header blockquote {
				border-left-color: #ffffff;
			}

			.item header code {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}

			.item header hr {
				border-bottom-color: #ffffff;
			}

			.item header a {
				-moz-transition: -moz-transform 0.2s ease;
				-webkit-transition: -webkit-transform 0.2s ease;
				-ms-transition: -ms-transform 0.2s ease;
				transition: transform 0.2s ease;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}

				.item header a:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.25);
					background-image: url("images/overlay.png");
				}

			.item header:hover a {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

			.item header > * {
				position: relative;
				z-index: 1;
			}

			.item header h3 {
				margin: 0;
				-moz-pointer-events: none;
				-webkit-pointer-events: none;
				-ms-pointer-events: none;
				pointer-events: none;
			}

/* Kacheln */

	.items {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: calc(100% + 2em);
		margin: -2em 0 0 -2em;
	}

		.items .item {
			margin: 2em 0 0 2em;
			width: calc(50% - 2em);
		}



/* Wrapper */

	#wrapper {
		width: 64em;
		margin: 0 auto;
		max-width: calc(100% - 4em);
		padding: 4em 0 2em 0;
	}

		#wrapper > .main {
			margin-bottom: 4em;
		}

/* Intro */

	#intro {
		padding: 4em 4em 2em 4em;
		background-color: #ffffff;
		border-radius: 4px;
		text-align: center;
	}

/* CTA */

	#cta {
		padding: 2em 0 0.1em 0;
		text-align: center;
	}

/* ANPASSUNGEN BEI VERSCHIEDENEN GRÖßEN*/

/* Anpassungen 480px */

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

/* Anpassungen 1680px */
		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

/* Anpassungen 1280px */

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

/* Anpassungen 360px */

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

/* Anpassungen 736px */

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}

	}

/* Anpassungen 480px */

		@media screen and (max-width: 480px) {
            
			.button {
				padding: 0;
			}

		}

/* Anpassungen 980px */

		@media screen and (max-width: 980px) {

			#wrapper {
				padding: 2em 0 2em 0;
			}

				#wrapper > .main {
					margin-bottom: 2em;
				}

		}

/* Anpassungen 980px */

	@media screen and (max-width: 980px) {

		.item header {
			height: 25em;
		}

		.items {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-flex-wrap: nowrap;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			width: 100%;
			margin: 0;
		}

			.items .item {
				width: 100%;
				margin: 0 0 2em 0;
			}
	}

/* Anpassungen 736px */

	@media screen and (max-width: 736px) {

		.item header {
			height: 15em;
		}

		.items .item {
			margin: 0 0 1em 0;
		}

	}

/* Anpassungen 480px */

	@media screen and (max-width: 480px) {

		.item {
			padding: 2em 1em 0.1em 1em;
		}

			.item header {
				height: 12em;
				margin: -2em 0 2em -1em;
				width: calc(100% + 2em);
			}

	}
/* Anpassungen 736px */

		@media screen and (max-width: 736px) {

			#main {
				padding: 2em 2em 0.1em 2em;
			}

		}

/* Anpassungen 480px */

		@media screen and (max-width: 480px) {

			#main {
				padding: 2em 1em 0.1em 1em;
			}

		}
/* Anpassungen 736px */

		@media screen and (max-width: 736px) {

			#intro {
				padding: 2em 2em 0.1em 2em;
			}

		}
/* Anpassungen 736px */

		@media screen and (max-width: 736px) {
            
			#cta {
				padding: 2em 2em 0.1em 2em;
			}

		}

/* Anpassungen 480px */

		@media screen and (max-width: 480px) {
            #navbarheader{
				font-size: 95%;
			}
			#cta {
				padding: 2em 1em 0.1em 1em;
			}

				#cta p br {
					display: none;
				}

		}
